<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Personal Info</p>

  <p>Name: <%= user.name %></p>
  <p>Username: <%= user.username %></p>
  <p>Email: <%= user.email %></p>
  <p>Address: <%= user.address %></p>
  <p>Phone: <%= user.phone %></p>
  <p>Gender: <%= user.gender %></p>
  <p>Birthdate: <%= user.birthdate %></p>


</body>
</html>
